/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-85bcc72b-grxovxya
 *                                 	 
 ******************************************************************************************************/
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 750px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						padding-left: 0px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-divider  {
		
						border-color: rgb(191, 52, 52);
						width: 15%;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .inner-pic  {
		
						opacity: 1;
						color: rgb(0, 0, 0);
		    			-webkit-filter: brightness(0.8);filter:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGZpbHRlciBpZD0iYnJpZ2h0bmVzcyI+DQogICAgPGZlQ29tcG9uZW50VHJhbnNmZXI+DQogICAgICAgPGZlRnVuY1IgdHlwZT0ibGluZWFyIiBzbG9wZT0iMC44Ii8+DQogICAgICAgPGZlRnVuY0cgdHlwZT0ibGluZWFyIiBzbG9wZT0iMC44Ii8+DQogICAgICAgPGZlRnVuY0IgdHlwZT0ibGluZWFyIiAgc2xvcGU9IjAuOCIvPg0KICAgIDwvZmVDb21wb25lbnRUcmFuc2Zlcj4NCiAgPC9maWx0ZXI+DQo8L3N2Zz4=#brightness);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .background-div  {
			
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-title  ,  .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-body h1  { 
						line-height: 0.9em;
						font-size: 50px;
						text-transform: uppercase;
						color: rgb(35, 35, 35);
						letter-spacing: -0.05em;
						margin-top: 0px;
						margin-bottom: 10px;
						font-family: 'Playfair Display';
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-item-links span  ,  .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya #sr-basket-widget *  { 
						border-width: 0px;
						font-size: 15px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						padding-right: 10px;
						margin-top: 10px;
						padding-left: 10px;
						border-radius: 22px;
						padding-top: 10px;
						margin-bottom: 10px;
						font-family: Raleway;
						background-color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-element.icon-source  {
		
						width: 100px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-link-img  {
		
						width: 38px;
						margin: 7px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-body-holder  {
		
						max-width: 600px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-item-links span:hover  ,  .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-element.Link.hover-tester  { 
						color: rgb(248, 243, 222);
						background-color: rgb(48, 48, 48);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-item-links span:before  ,  .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .effect-tester  { 
						background-color: rgb(48, 48, 48);	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(48, 48, 48);
						max-width: 600px;
						margin-top: 15px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-social-holder  {
		
						margin-bottom: 15px;
						margin-top: 15px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .middle_layout .helper-div  ,  .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-subtitle  ,  .style-7b75b-8t4kasj4 .style-85bcc72b-grxovxya .preview-body h2  { 
						font-family: Raleway;
						font-size: 22px;
						color: rgb(35, 35, 35);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.3em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-85bcc72b-grxovxya #vbid-85bcc72b-on0vr7of.inner-pic{
				
							background-position : 50% 50%;
					
				}























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b75b-8t4kasj4
 *                                 	 
 ******************************************************************************************************/
	 .master .style-7b75b-8t4kasj4 .Body  {
		
						font-size: 12px;
						max-width: 650px;
						margin-right: 20px;
						margin-left: 20px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .master .style-7b75b-8t4kasj4 .Subtitle  ,  .master .style-7b75b-8t4kasj4 .Body h2  { 
						font-size: 15px;
						color: rgb(110, 110, 110);
						max-width: 650px;
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 15px;
						margin-left: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	 .master .style-7b75b-8t4kasj4 .quote-holder  {
		
						margin-bottom: 45px;
						margin-top: 35px;	
		}
	 .master .style-7b75b-8t4kasj4 .subtitle-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-7b75b-8t4kasj4 .Title  ,  .master .style-7b75b-8t4kasj4 .Body h1  { 
						font-size: 22px;
						color: rgb(0, 0, 0);
						max-width: 650px;
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 30px;
						margin-left: 20px;
						font-family: Montserrat;	
		}
	 .master .style-7b75b-8t4kasj4 .link-wrapper  {
		
						max-width: 1058px;	
		}
	 .master .style-7b75b-8t4kasj4 .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						font-size: 19px;
						margin-left: 50px;
						font-style: italic;	
		}
	 .master .style-7b75b-8t4kasj4 .quote-author  {
		
						font-style: italic;
						font-size: 19px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-top: 10px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-7b75b-8t4kasj4 .title-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-7b75b-8t4kasj4 .item-links span  {
		
						font-family: Arial;
						font-size: 13px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						border-width: 1px;
						background-color: rgba(66, 117, 83, 0);
						margin-left: 50px;	
		}
	
	 .master .style-7b75b-8t4kasj4 .body-wrapper  {
		
						max-width: 1032px;	
		}
	 .style-7b75b-8t4kasj4.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: jaf-bernino-sans;
				
						letter-spacing: 0.0em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Abel;
				
						letter-spacing: 0.2em;
				
						border-width: 0px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: 'Playfair Display';
				
						letter-spacing: 0.1em;
				
						line-height: 1.6em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.0em;
				
						direction: ltr;
				
						line-height: 1.3em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b75b-nrwfi2cj
 *                                 	 
 ******************************************************************************************************/
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 700px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						border-color: rgba(253, 253, 253, 0.53);
						padding-left: 0px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-divider  {
		
						color: rgb(0, 0, 0);
						border-color: rgb(154, 154, 154);
						margin-top: 10px;
						width: 35%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .inner-pic  {
		
						color: rgb(255, 255, 255);
						opacity: 0.98;
		    			-webkit-filter: brightness(0.8);filter:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGZpbHRlciBpZD0iYnJpZ2h0bmVzcyI+DQogICAgPGZlQ29tcG9uZW50VHJhbnNmZXI+DQogICAgICAgPGZlRnVuY1IgdHlwZT0ibGluZWFyIiBzbG9wZT0iMC44Ii8+DQogICAgICAgPGZlRnVuY0cgdHlwZT0ibGluZWFyIiBzbG9wZT0iMC44Ii8+DQogICAgICAgPGZlRnVuY0IgdHlwZT0ibGluZWFyIiAgc2xvcGU9IjAuOCIvPg0KICAgIDwvZmVDb21wb25lbnRUcmFuc2Zlcj4NCiAgPC9maWx0ZXI+DQo8L3N2Zz4=#brightness);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-title  ,  .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-body h1  { 
						font-size: 40px;
						text-transform: uppercase;
						color: rgb(154, 154, 154);
						letter-spacing: 0.05em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj.master.item-box   {
		
						padding-left: 0%;
						padding-right: 0%;
						width: 100%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-item-links span  ,  .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj #sr-basket-widget *  { 
						font-style: italic;
						font-size: 18px;
						color: rgb(154, 154, 154);
						padding-bottom: 10px;
						border-color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						padding-right: 20px;
						margin-top: 10px;
						padding-left: 20px;
						padding-top: 10px;
						font-family: 'Playfair Display';
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-bottom: 15px;
						width: 50px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .background-image-div  {
		
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-link-img  {
		
						width: 33px;
						margin: 4px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-icon-holder  {
		
		    			-webkit-filter: invert(50%);filter: invert(50%);
						margin-bottom: 40px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-item-links span:hover  ,  .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .inner-pic-holder  {
		
						background-color: rgb(35, 35, 35);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-item-links span:before  ,  .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .effect-tester  { 
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-body  {
		
						line-height: 1.4em;
						font-size: 15px;
						color: rgb(154, 154, 154);
						letter-spacing: 0.05em;
						max-width: 600px;
						margin-top: 10px;
						margin-bottom: 20px;
						font-family: Arial;	
		}
	
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 20px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .middle_layout .helper-div  ,  .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-subtitle  ,  .style-7b75b-8t4kasj4 .style-7b75b-nrwfi2cj .preview-body h2  { 
						font-family: Abel;
						font-size: 16px;
						color: rgb(154, 154, 154);
						letter-spacing: 0.55em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.1em;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-7b75b-nrwfi2cj #vbid-fba59-qmcuut9a .preview-content-holder{
				
							text-align : center;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-wfz5hg4h .preview-content-holder{
				
							text-align : center;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-k0gbi6eq .preview-content-holder{
				
							text-align : center;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-6ty8r62v .preview-content-holder{
				
							text-align : center;
					
				}


 .style-7b75b-nrwfi2cj #vbid-fba59-iabrflyt.inner-pic{
				
							background-position : 29.6% 44.3689%;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-i2boiebs.inner-pic{
				
							background-position : 83.6865% 21.2913%;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-gmblvcxm.inner-pic{
				
							background-position : 100% 52.1359%;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-85efff5w.inner-pic{
				
							background-position : 87.6% 47.6893%;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-dfri7uaa.inner-pic{
				
							background-position : 48.7461% 100%;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-5hsrgw1s.inner-pic{
				
							background-position : 44.4619% 100%;
					
				}











 .style-7b75b-nrwfi2cj #vbid-fba59-qmcuut9a .preview-content-wrapper{
				
							text-align : center;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-wfz5hg4h .preview-content-wrapper{
				
							text-align : center;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-k0gbi6eq .preview-content-wrapper{
				
							text-align : center;
					
				} .style-7b75b-nrwfi2cj #vbid-fba59-6ty8r62v .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b75b-m3mflqhb
 *                                 	 
 ******************************************************************************************************/
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .title-holder  {
		
						text-align: center;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .Title  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .Body h1  { 
						color: #8a7373;
						font-size: 36px;
						font-family: open-sans;
						letter-spacing: 0.15em;
						font-weight: bold;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb  .preview-content-holder  {
		
						margin-right: 20px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 400px;
						padding-right: 0px;
						margin-top: 20px;
						margin-left: 20px;
						padding-top: 0px;
						margin-bottom: 20px;
						background-color: rgba(0, 0, 0, 0);
						padding-left: 0px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .item-content:not(.blocks_layout)  {
		
						background-color: rgb(239, 239, 239);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-divider  {
		
						margin-bottom: 10px;
						border-color: rgb(0, 0, 0);
						margin-top: 5px;
						width: 20%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .inner-pic  {
		
						opacity: 0.9;
						color: rgb(0, 0, 0);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						font-family: 'Times New Roman';
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						border-width: 1px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .background-div  {
			
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-title  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-body h1  { 
						line-height: 1.2em;
						font-size: 16px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-top: 5px;
						font-family: Raleway;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-item-links span  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb #sr-basket-widget *  { 
						font-style: italic;
						font-size: 15px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						border-width: 0px;
						padding-right: 15px;
						margin-top: 5px;
						padding-left: 15px;
						border-radius: 20px;
						padding-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .blocks-preview-body  {
		
						line-height: 1.4em;
						font-size: 15px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-element.icon-source  {
		
						width: 50px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .blocks-preview-content-holder  {
		
						margin-bottom: 40px;
						margin-top: 40px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .Subtitle  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb.item-box > .item-wrapper   {
		
						max-width: 2000px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						margin-top: 10px;
						font-family: Raleway;
						font-size: 16px;
						margin-bottom: 10px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-item-links span:before  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-price  {
		
						color: rgb(255, 255, 255);
						font-family: Arial;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-item-links span:hover  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .blocks-preview-divider  {
		
						color: rgb(0, 0, 0);
						border-color: rgb(0, 0, 0);
						border-bottom-width: 1px;
						margin-top: 5px;
						margin-bottom: 10px;
						width: 10%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .blocks-preview-title  {
		
						font-size: 40px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-body  {
		
						font-family: Arial;
						font-size: 12px;
						color: rgb(255, 255, 255);
						max-width: 500px;
						margin-top: 10px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .blocks-preview-item-links .Link  {
		
						text-decoration: underline;
						font-size: 20px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .pic-side:after  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .item-effect-tester  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-subtitle  ,  .style-7b75b-8t4kasj4 .style-7b75b-m3mflqhb .preview-body h2  { 
						line-height: 1.4em;
						font-size: 14px;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 5px;
						font-family: Raleway;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-7b75b-m3mflqhb #vbid-7b75b-jb2nhmel.inner-pic{
				
							background-size : cover;
					
							background-position : 48.995% 77.6151%;
					
				} .style-7b75b-m3mflqhb #vbid-7b75b-5yfyypnq.inner-pic{
				
							background-position : 48.995% 95.3441%;
					
				} .style-7b75b-m3mflqhb #vbid-7b75b-txenk2wa.inner-pic{
				
							background-size : cover;
					
							background-position : 50% 51.0418%;
					
				}
































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b75b-dy5bpvow
 *                                 	 
 ******************************************************************************************************/
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 800px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						padding-left: 0px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-divider  {
		
						border-color: rgb(0, 0, 0);
						width: 15%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .inner-pic  {
		
						opacity: 0.95;
						color: rgb(0, 0, 0);
		    			-webkit-filter: brightness(0.6);filter:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGZpbHRlciBpZD0iYnJpZ2h0bmVzczYiPg0KICAgIDxmZUNvbXBvbmVudFRyYW5zZmVyPg0KICAgICAgIDxmZUZ1bmNSIHR5cGU9ImxpbmVhciIgc2xvcGU9IjAuNiIvPg0KICAgICAgIDxmZUZ1bmNHIHR5cGU9ImxpbmVhciIgc2xvcGU9IjAuNiIvPg0KICAgICAgIDxmZUZ1bmNCIHR5cGU9ImxpbmVhciIgIHNsb3BlPSIwLjYiLz4NCiAgICA8L2ZlQ29tcG9uZW50VHJhbnNmZXI+DQogIDwvZmlsdGVyPg0KPC9zdmc+#brightness6);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .background-div  {
			
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-title  ,  .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-body h1  { 
						line-height: 0.9em;
						font-size: 65px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: -0.05em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: 'Playfair Display';
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-item-links span  ,  .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow #sr-basket-widget *  { 
						border-width: 0px;
						font-size: 15px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						padding-right: 10px;
						margin-top: 20px;
						padding-left: 10px;
						border-radius: 22px;
						padding-top: 10px;
						margin-bottom: 10px;
						font-family: Raleway;
						background-color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .stripe-background  {
		
						margin-top: -20px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-element.icon-source  {
		
						width: 180px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-link-img  {
		
						width: 38px;
						margin: 7px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-body-holder  {
		
						max-width: 600px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-item-links span:hover  ,  .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-element.Link.hover-tester  { 
						color: rgb(248, 243, 222);
						background-color: rgb(48, 48, 48);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-item-links span:before  ,  .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .effect-tester  { 
						background-color: rgb(48, 48, 48);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-body  {
		
						line-height: 1.4em;
						font-size: 15px;
						color: rgb(48, 48, 48);
						max-width: 600px;
						margin-top: 15px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-social-holder  {
		
						margin-bottom: 15px;
						margin-top: 15px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .middle_layout .helper-div  ,  .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-subtitle  ,  .style-7b75b-8t4kasj4 .style-7b75b-dy5bpvow .preview-body h2  { 
						font-family: Raleway;
						font-size: 24px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 20px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.3em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-7b75b-dy5bpvow #vbid-7b75b-ysivxpc5 .preview-content-holder{
				
							text-align : center;
					
				}


 .style-7b75b-dy5bpvow #vbid-fba59-etzcbq7b.inner-pic{
				
							background-position : 50% 50%;
					
				}












 .style-7b75b-dy5bpvow #vbid-7b75b-ysivxpc5 .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b75b-csbctc4a
 *                                 	 
 ******************************************************************************************************/
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a.master.item-box   {
		
						position: relative;
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-item-links span:hover  ,  .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-item-links  {
		
						text-align: center;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						background-color: rgba(0, 0, 0, 0);
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-item-links span  ,  .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a #sr-basket-widget *  { 
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(90, 90, 90);
						padding-bottom: 10px;
						border-color: rgba(255, 255, 255, 0.670588);
						letter-spacing: 0.2em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 10px;
						font-family: Abel;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-title  ,  .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-body h1  { 
						font-size: 18px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-left: 10px;
						font-family: Raleway;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-divider  {
		
						border-bottom-width: 1px;
						width: 10%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-item-links span:before  ,  .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .stripe-background  {
		
						margin-top: -10px;
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-bottom: 0px;
						margin-top: 0px;
						width: 60px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .middle_layout .helper-div  ,  .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-subtitle  ,  .style-7b75b-8t4kasj4 .style-7b75b-csbctc4a .preview-body h2  { 
						font-size: 12px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 10px;
						font-family: Arial;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b75b-oszhaafe
 *                                 	 
 ******************************************************************************************************/
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-title  ,  .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-body h1  { 
						font-family: Montserrat;
						font-size: 17px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-top: 0px;
						line-height: 1.1em;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-link-img  {
		
						width: 30px;
						margin: 2px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe  .preview-content-holder  {
		
						margin-right: 0px;
						text-align: right;
						background-color: rgba(121, 133, 149, 0);
						margin-left: 0px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-item-links span  ,  .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe #sr-basket-widget *  { 
						color: #ffffff;
						font-family: Arial;
						font-size: 13px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-social-wrapper  {
		
						text-align: right;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-body  {
		
						color: rgb(104, 104, 104);
						margin-bottom: 40px;
						font-size: 12px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-element.icon-source  {
		
						padding-right: 0px;
						color: rgb(0, 0, 0);
						margin-right: 15px;
						margin-left: 15px;
						margin-bottom: 0px;
						padding-left: 0px;
						width: 70px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 20px;
						margin-right: 20px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-body-holder  {
		
						text-align: left;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe  .preview-content-wrapper  {
		
						text-align: right;
						vertical-align: bottom;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .middle_layout .helper-div  ,  .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1200px;	
		}
	 .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-subtitle  ,  .style-7b75b-8t4kasj4 .style-7b75b-oszhaafe .preview-body h2  { 
						font-style: italic;
						font-size: 12px;
						color: rgb(0, 0, 0);
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						font-family: Montserrat;
						margin-bottom: 0px;
						line-height: 1.5em;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
